body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
    transition: all 2s;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
    transition: all 2s;
  }