*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}


header{
    width: 100%;
    height: 60px;
    background-color: rgb(180, 179, 179);
    border-top: 5px solid rgb(2, 2, 2);
}

.nav-grid{
    display: grid;
    grid-template-columns: 320px 320px 320px;
}

ul.menu{
    display: grid ;
    grid-template-columns: repeat(3, 6rem);
    justify-items: center ;
    margin-top: 38px;
    
}

ul.menu li{
    list-style: none;
}

ul.menu li a{
    font-size: 14px;
    text-decoration: none;
    color: #505F98;
    transition: .3s ease-in-out;
}
ul.menu li a:hover{
    color: #192e8a;
}

.logo{
    margin-top: 30px;
    color: #37447E;
    justify-self: center;
}


.logo h1{
    font-size: 26px;
    margin-bottom: 5px;
}

ul.buy{
    width: 160px;
    height: 26px;
    background-color: #111B47;
    padding: 5px 10px;
    border-radius: 2px;
    margin-top: 13px;
    justify-self:center
}

ul.buy li{
    list-style: none;
    text-align: center;
}

ul.buy li a{
    font-size: 12px;
    color: white;
    text-decoration: none;
    
}