*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0);
    justify-content: center ;
}

.head-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    position: absolute;
    width: 1440px;
    height: 60px;

}

.menu{
    display: grid;
    grid-template-columns: repeat(3,4rem);
    list-style: none;
    margin-top: 20px;
}

.menu a{
    text-decoration: none;
    font-size: 16px;
    color: #505F98;
}

.logo{
    color: #37447E;
    margin-top: 15px;
}
.buynow{
    background-color: #111B47;
    color: #ffff;
    width: 12rem;
    height: 30px;
    border-radius: 6px;
    margin-top: 20px;

}
.content-text-main{
    position: absolute;
    margin-top: 17rem;
    margin-left: 9rem;
    width: 35rem;
    font-family: 'Roboto', sans-serif;
}

.content-text-main h6{
    font-size: 50px;
}

.content-text-main span{
    font-size: 18px;
    color: #505F98;
}


.img-backgorund img{
    max-width: 1440px;
    margin-left: 25.9rem;
    display: flex;
}

.button-main{
    display: grid;
    grid-template-columns: repeat(2,11.8rem);
    grid-gap: 31px;
}

.butmain{
    /* Colour/Main/Blue/800 */
    background: #111B47;
    border-radius: 2px;
    height: 26px;
    width: 189.13px;
    /* Medium 16 */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    text-align: center;
    /* Colour/Secondary/White 100 (general) */
    color: #FFFFFF;
}

.butmain2{
    /* Colour/Main/Blue/800 */
    background: #ffffff;
    border-radius: 2px;
    height: 26px;
    width: 189.13px;
    /* Medium 16 */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    text-align: center;
    /* Colour/Secondary/White 100 (general) */
    color: #091133;
}

/*  */

.ex1{
    display: grid;
    grid-template-columns: repeat(2,50rem);
    justify-items: center;
}

.content-textex1{
    margin-top: 158px;
    margin-left: 165px;
}

.textex1{
    margin-bottom: 80px;
}

.textex1 h1{
    font-size: 36px;
    color: #091133;
}

.textex1 span{
    font-size: 16px;
    color: #6F7CB2;
}

.imgex1{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}

.img-small{
    width: 252.89px;
    height: 138px;
}

.img-small h1{
    font-size: 16px;
}

.img-small span{
    font-size: 12px;
}

.img1{
    margin-top: 166px;
    margin-left: -190px;
}

/* end ex1 */
.ex2{
    display: grid;
    grid-template-columns: repeat(2,50rem);
    justify-items: center;
    height: 569px;
}

.content-textex2{
    margin-top: 287px;
}

.textex2{
    margin-bottom: 80px;
    width: 445px;
}

.textex2 h1{
    font-size: 36px;
    color: #091133;
}

.content-textex2 span{
    font-size: 16px;
    color: #6F7CB2;
}

.imgex2{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}

.img-small{
    width: 252.89px;
    height: 138px;
}

.img-small h1{
    font-size: 16px;
}

.img-small span{
    font-size: 12px;
}

.img2{
    margin-top: 14.7rem;
    margin-left: 11rem;
}

/* end ex2 */

.img3{
    margin-top: 14.7rem;
    margin-left: 11rem;
}
/* end ex3 */
.img4{
    margin-top: 14.7rem;
    margin-left: 11rem;
}
/* end ex4 */
.ing5{
    position: absolute;
    justify-items: center;
    justify-self: center;
}

.text-pricing{
    height: 116px;
    width: 600px;
    text-align: center;
    position: absolute;
    margin-left: 420px;
    margin-top: 241px;
}

.text-pricing h1{
    font-size: 36px;
}

.text-pricing span{
    font-size: 16px;
    color: #6F7CB2;
}

.text-pricing2{
    height: 116px;
    width: 600px;
    text-align: center;
    position: absolute;
    margin-left: 420px;
    margin-top: 414px;
}

.text-pricing2 h2{
    font-size: 50px;
}
.text-pricing2 span{
    font-size: 16px;
    color: #37447E;
}

.text-pricing3{
    height: 116px;
    width: 600px;
    text-align: center;
    position: absolute;
    margin-left: 420px;
    margin-top: 566px;
}

.text-pricing3 span{
    font-size: 14px;
    color: #5D6970;
}
.text-pricing3 button{

    background-color: #111B47;
    color: #ffff;
    width: 12rem;
    height: 30px;
    border-radius: 6px;
    margin-top: 20px;

}
/* end  */
.footer{
    position: absolute;
    margin-top: 806px;
}
.img6{
    position: absolute;
    width: 100%;
    height: 216px;
}
.footer-logo{
    position: absolute;
    margin-top: 62px;
    margin-left: 679px;
    color: #37447E;
}
.content-footer{
    position: absolute;
    height: 216px;
}
.footer-line {
    
    border: none;
    border-top: 1px solid #CDD1D4;
    margin-top: 39px;
    margin-left: 162px;;
    width: 1110px;
  }
.grid1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 1110px;
    margin-top: 69px;
    margin-left: 162px;
}
.grid1 button{
    justify-self: end;
    height: 26px;
    width: 109px;
    background: #111B47;
    color: #FFFFFF;
    border-radius: 6px;

}

.grid2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 1110px;
    margin-top: 20px;
    margin-left: 162px;
}

.grid2 .manu2{
    display: grid;
    grid-template-columns: repeat(3,2.5rem);
    grid-gap: 60px;
}
.grid2 .manu2 a{
    font-size: 14px;
    color: #929ecc;
    text-decoration: none;
}
.grid2 .Social{
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(5,1rem);
    justify-items: center;
    grid-gap: 30px;
    color: #B0B8BC;
}
